# Binaries
*.exe
*.out
*.o

# Vendor directory (if you're using Go modules with vendoring)
vendor/

# Logs
*.log

# Environment variables
.env

# IDE/editor specific files (optional)
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Temporary files
tmp/
